.Container {
  width: 300px;
  border: 5px solid green;
  padding: 100px;
  margin: 5px;
  height: 494px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}


.Main{
  width: 200px;
  height: 150px;
  border: 2px solid grey;
  background-color: orange;
  position: absolute;
  left: 28%;
  top: 10%;
}
.Input{
  margin-left: 10px;
  margin-top: 10px;
}
.B{
  border: 2px solid black;
  position: absolute;
  top: 45%;
  
  width: 500px;
  background-color:skyblue;
  color:black;
  height: 300px;
}
.Submit{
  margin-left: 60px;
  margin-top: 10px;
  background-color:black;
  color: wheat;
}
.Table{
  margin-left: 90px;
}